head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/vendor/bower/bootstrap/dist/css/bootstrap.min.css')
  script(type='text/javascript', src='/vendor/bower/jquery/dist/jquery.min.js')
