@import compass/css3

// Commons

// Home

// Admin
#dropzone-wrapper
  width: 900px
  margin: 0 auto
#dropzone-dropzone
  width: 400px
  height: 300px
  margin: 0 auto
  background: #F5F5F5
  box-shadow: 0 0 0 4px #FFFFFF, 0 0 0 5px #DDDDDD
  border-radius: 5px
  p
    margin: 0 auto
    text-align: center
    line-height: 300px
    color: #AAAAAA
