doctype html
html
  include includes/head
  body
    div.page-wrapper
      h1 Admin
      div.admin-post
        h2 Post article
        form#admin-post(action='/admin/post', method="post", enctype="multipart/form-data")
          div.form-group
            label(for='post-title') Title: 
            input#post-title.form-control(name='title', type='text')
          div.form-group
            label(for='post-body') Body: 
            textarea#post-body.form-control(name='article')
          div.form-group
            input.btn.btn-default(type='submit', value='Send')
      div.admin-edit
        h2 Edit article
        ul#archive-select
          for a in archive
            li(data-id="#{a.id}")= a.title
        form#admin-edit(action='/admin/edit', method="post", enctype="multipart/form-data")
          div.form-group
            label(for='post-title') Title: 
            input#post-title.form-control(name='title', type='text')
          div.form-group
            label(for='post-body') Body: 
            textarea#post-body.form-control(name='body')
          input#post-id(type='hidden', name='id')
          div.form-group
            input.btn.btn-default(type='submit', value='Send')
        
    script(type='text/javascript', src='/javascripts/admin.js')
