extends layout

block content
  h1 Admin
  script(type='text/javascript' src='/vendor/bower/dropzone/downloads/dropzone.min.js')
  div#form-wrapper
    h2 Post article
    form#formzone(action='/admin/post', method="post", enctype="multipart/form-data")
      input(name='title', type='text')
      textarea(name='article')
      input(type='submit', value='Send')
  script(type='text/javascript', src='/javascripts/main.js')
