doctype html
html
  include includes/head
  body
    div.page-wrapper
      include includes/header
      section#index
        include includes/archive
        include includes/article
      include includes/footer
