doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="description" content="nekobato blog")
    meta(charset="utf-8")
    link(rel='stylesheet', href='/libraries/bootstrap.min.css')
    link(rel='stylesheet', href='//stylesheets/style.css')
    link(rel="alternate" type="application/rss+xml" href="/rss")
  body
    block content
