site = 'http://localhost:3000/'

doctype 5
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title lib.nekobato.net
		meta(name="description" content="nekobato blog")
		meta(charset="utf-8")
		script(type='text/javascript', src='/javascripts/jquery-2.0.3.min.js')
		script(type='text/javascript', src='/javascripts/script.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="alternate" type="application/rss+xml" href=site+"rss")
	body
	block content