@font-face
  font-family: penna
  src url('/stylesheets/fonts/../../fonts/penna-webfont.eot') format('embedded-opentype') url('/stylesheets/fonts/../../fonts/penna-webfont.woff') format('woff') url('/stylesheets/fonts/../../fonts/penna-webfont.ttf') format('truetype')
penna(n)
  font-size: n
  font-weight: normal
  font-family: penna
html
  padding: 0
body
  width: 900px
  margin: 0 auto
  padding: 60px 60px 20px
h1
  penna(72px)
  margin: 0
  color: #333
h2
  margin: 40px 0 2px 0
article p.time
  margin: 0 0 20px 0
  padding: 2px 6px
  color: #666
  background: #e6e6e6
article img.ref
  max-width: 500px
  max-height: 500px
  margin: 10px
ul.log
  padding: 0 0 0 20px
  list-style: none
  line-height: 1.8em
ul.log .time
  margin: 0 0 20px 0
  padding: 2px 4px
  color: #888
footer
  margin: 30px 0 0 0